/* GENERAL */

body {
    font-family: roboto;
}

img {
    max-width: 100%;
}

.debug {
    border: 1px solid red;
}


.bg-darkblue {
    background-color: #165bba;
}

/* HEADER */

nav {
    height: 80px;
}

.navbar [alt="logosmall"] {
    width: 3rem;
}


.navbar [alt="logobig"] {
    width: 8rem;
}


.navbar li {
    list-style: none;
}






/* SIDEBAR */

main {
    height: calc(100vh - 80px);

}


#sidebar {
    width: 80px;
    height: 100%;
    background-color: #051e34;
}



/* sidebar hover effects */

#sidebar div:hover {
    background-color: #ffffff6b;
}



/* MAIN CONTENT */



.label {
    padding: .1rem 1rem;
    display: inline;
    border-radius: 2rem;
}


/* main hover effects */


.plus-btn:hover a {
    background-color: white;
    color: #0d6efd;
}


/* TABLE */

table img {
    width: 20px;
    margin: 5px;
}

.label-done {

    background-color: green;
    padding: .1rem .5rem;
    border-radius: .5rem;
    color: white;
    font-size: .9rem;
}

.label-fail {
    background-color: red;
    padding: .1rem .5rem;
    border-radius: .5rem;
    color: white;
    font-size: .9rem;
}

.label-process {
    background-color: gold;
    padding: .1rem .5rem;
    border-radius: .5rem;
    color: white;
    font-size: .9rem;
}

.scroll {
    overflow: auto;
}



/* MEDIA QUERY */

@media screen and (min-width:576px) {
    form {
        width: 75%;
    }

}


@media screen and (min-width:992px) {

    #sidebar {
        width: 13%;
        max-width: 150px;
    }

    form {
        width: 75%;
    }


    thead td:first-child {

        width: 50%;
    }


    #offcanva {
        width: 50% !important;
    }

}