img {
    max-width: 100%;
}

.debug {
    border: 1px solid red;
}




/* HEADER */


.navbar [alt="logosmall"] {
    width: 3rem;
}


.navbar [alt="logobig"] {
    width: 6rem;
}


.navbar li {
    list-style: none;
}




.prova {
    display: flex;
    justify-content: space-between;
}





/* SIDEBAR */

#sidebar {
    width: 80px;
    height: calc(100vh - 56px);
    background-color: #051e34;
}







@media screen and (min-width:992px) {

    #sidebar {
        width: 13%;
    }

}